# Ignore all node_modules directories
**/node_modules

# Ignore all media directories
**/media

# Ignore build output
**/build

# Ignore logs
*.log

# # Ignore environment files
# **/.env
# **/.env.local
# **/.env.development.local
# **/.env.test.local
# **/.env.production.local

# Ignore Docker-related files
Dockerfile
docker-compose.yaml

# Ignore IDE/editor files
**/.idea
**/.vscode

# Ignore other unnecessary files
.DS_Store