.dropdown-item, .nav-link, .navbar-brand {
    color: #db7d65 !important;
}

.btn {
    color:#db7d65;
    border-color: #db7d65;
}
.btn:hover {
    background-color: #db7d65;
    border-color: #db7d65;
    color:aliceblue
}
.btn:active {
    background-color: #b8644f !important;
    border-color: #db7d65 !important;
}
.btn-primary {
    color:aliceblue;
    border-color: #db7d65;
    background-color: #db7d65;
}
.btn-primary:hover {
    background-color: #ce6b53;
}
#bd-theme {
    background-color: #db7d65;
}

#copyright, #div-copyright {
    width: 100%;
    text-align: center;
}

#login-cart {
    margin: auto;
    width: 30%;
    margin-top: 7%;
    margin-bottom: 7%;
    border: 2px solid gray;
    border-radius: 6px;
    padding: 3%
}

.my-h2 {
    margin-left: 10%;
    margin-right: 90%;
    margin-top: 27px;
    margin-bottom: 10px;
    height: 60px;
}

#user-bar {
    color:#db7d65;
}
#circle-img {
    margin-left: 8px;
    margin-right: 10px;
    padding-top: 1%;
}
#video-div {
    display: flex;
    justify-content: center;
    margin-top: 30px
}
.carousel-control-next, .carousel-control-prev {
    height: 40%;
    margin-top: 5%;
    width: 10%
}
/* ff3333 */